@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0D6EFD, #D63384);
}

.registration-form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 20px 70px;
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}



.registration-form .authButton{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
    width: 100%;
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

.registration-form .item{
    margin-bottom: 25px;
    padding: 10px 20px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ced4da;
}

.registration-form .inputBox{
    position: relative;
}
.registration-form .inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: #ced4da;
    text-transform: uppercase;
    transition: 0.5s;
}
.registration-form .item:valid ~span,.registration-form .item:focus ~span{
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    background: #fff;
    color:#5691ff;
    padding: 0px;
    font-weight: bold;

}
@media (max-width: 576px) {
    .registration-form form{
        padding: 0px 20px;
    }
    .registration-form {
        margin-top: 14em !important;
        margin-bottom: 14em !important;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

.signup_link{
    text-align: center;
    padding: 20px 0px;
}